@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
*{
    font-family: 'Prompt', sans-serif;
    background-image: '../img/bg/bg1.jpg';
    background-attachment: fixed;
}

/* ยืนยันแล้ว */
table tbody tr td .success{
    color: green;
}

#header-user h2{
    text-align:center; 
    color:#C60000; 
    font-size:25px;
    margin-top: 2em;
}
#edit-nail h2{
    text-align:center; 
    color:#C60000; 
    font-size:25px;
    margin-top: 2em;
}
#show_nailer h2{
    text-align:center; 
    color:#C60000; 
    font-size:25px;
    margin-top: 2em;
}
#show_nailer .search-id{
    border-radius: 15px;
}
#search form{
    margin: auto;
    display: block;
    text-align: center;
}
#search form button{
    margin-top: 5px;
    width: 70%;
}
#show-record h2{
    text-align:center; 
    color:#C60000; 
    font-size:25px;
    margin-top: 2em;
}
#show-user h2{
    text-align:center; 
    color:#C60000; 
    font-size:25px;
    margin-top: 2em;
}
.header-data{
    font-size: 16px;
}
.rounded-circle{
    width: 60px;
}


#add_datanail a{
    float: right;
}
#btn_editnail ul li{
    margin: auto;
    display: block;
    list-style-type: none;
    display:inline;
}
  
#btn_editnail  li a {
    display:inline;
    color: #8B2500;
    padding: 8px 16px;
    width: 20px;
    text-decoration: none;
    background-color: white;
    border: 2px solid #FFAEB9;
    border-radius: 25px;
    margin: 10px;
}
  
#btn_editnail li a.active {
    background-color: #FFAEB9;
    color: #8B2500;
}
  
#btn_editnail li a:hover:not(.active) {
    background-color: #FFAEB9;
    color: #8B2500;
}
#form_nail select{
    width: 160px;
    height: 30px;
    border-radius: 15px;
}

.my-custom-scrollbar {
    position: relative;
    height: 350px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
    
#menu_admin{
    font-size: 24px;
    color: black;
    background-color:#FFFFFF;
    padding: 0%;
}
#menu_admin:hover{
    color: #FFFFFF;
    background-color: #E3B5BE;  
    transition: 500ms;
}
#menu_admin .card-header p{
    font-size:20px;
}
#menu_admin .card-header img{
    width: 10rem;
}
#page_admin{
    padding: 0%;
}
#page_admin a{
    padding: 0%;
    text-decoration: none;
}

#card-renail .card {
    border-radius: 10px;
    margin-top: 100px;
}
#card-renail img{
    padding: 10px;
}
#card-renail .btn{
    background-color: #E3B5BE;
    color: white;
    margin: auto;
    display: block;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    }
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 300px) 
    {.col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 300px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    #card #card-admin{
        width: 50%;
    }
    #card-admin img a{
        width: 100%;
        
    }
    #card-admin h5 p{
        width: 50%;
        font-size: 16px;
    }

    
    }

    @media only screen and (min-width: 280px) {
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
    
        
        #card #card-admin{
            width: 50%;
        }
        #card-admin img a{
            width: 100%;
            
        }
        #card-admin .card-title{
            font-size: 16px;
        }
        #card-admin h5 p{
            width: 50%;
            font-size: 12px;
        }
    
        
        }

    @media only screen and (min-width: 360px) {
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
    
        #card #card-admin{
            width: 50%;
        }
        #card-admin img a{
            width: 100%;
        }
        #card-admin h5 p{
            width: 50%;
            font-size: 16px;
        }
    
        
        }

    @media only screen and (min-width: 375px) {
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
    
        
        #card #card-admin{
            width: 50%;
        }
        #card-admin img a{
            width: 100%;
            
        }
        #card-admin h5 p{
            width: 50%;
            font-size: 16px;
        }
    
        
        }
    

    @media only screen and (min-width: 393px) {
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
    
        
        #card #card-admin{
            width: 50%;
        }
        #card-admin img a{
            width: 100%;
            
        }
        #card-admin h5 p{
            width: 50%;
            font-size: 16px;
        }
    
        
        }

        @media only screen and (min-width: 412px) {
            .col-s-1 {width: 8.33%;}
            .col-s-2 {width: 16.66%;}
            .col-s-3 {width: 25%;}
            .col-s-4 {width: 33.33%;}
            .col-s-5 {width: 41.66%;}
            .col-s-6 {width: 50%;}
            .col-s-7 {width: 58.33%;}
            .col-s-8 {width: 66.66%;}
            .col-s-9 {width: 75%;}
            .col-s-10 {width: 83.33%;}
            .col-s-11 {width: 91.66%;}
            .col-s-12 {width: 100%;}
        
            #card #card-admin{
                width: 50%;
            }
            #card-admin img a{
                width: 100%;
                
            }
            #card-admin .card-title{
                font-size: 22px;
            }
            #card-admin h5 p{
                width: 50%;
                font-size: 16px;
            }
        
            
            }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) 
    {.col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}


    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 400px) {
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}

        #card #card-admin{
            width: 50%;
        }
        #card-admin img a{
            width: 100%;
            
        }
        #card-admin h5 p{
            width: 50%;
            font-size: 16px;
        }

        }

        @media only screen and (min-width: 820px) {
            .col-s-1 {width: 8.33%;}
            .col-s-2 {width: 16.66%;}
            .col-s-3 {width: 25%;}
            .col-s-4 {width: 33.33%;}
            .col-s-5 {width: 41.66%;}
            .col-s-6 {width: 50%;}
            .col-s-7 {width: 58.33%;}
            .col-s-8 {width: 66.66%;}
            .col-s-9 {width: 75%;}
            .col-s-10 {width: 83.33%;}
            .col-s-11 {width: 91.66%;}
            .col-s-12 {width: 100%;}
    
            #card #card-admin{
                width: 50%;
            }
            #card-admin img a{
                width: 100%;
               
            }
            #card-admin .card-title{
                font-size: 16px;
            }
            #card-admin h5 p{
                width: 50%;
                font-size: 16px;
            }
    
            }


        @media only screen and (min-width: 912px) {
            .col-s-1 {width: 8.33%;}
            .col-s-2 {width: 16.66%;}
            .col-s-3 {width: 25%;}
            .col-s-4 {width: 33.33%;}
            .col-s-5 {width: 41.66%;}
            .col-s-6 {width: 50%;}
            .col-s-7 {width: 58.33%;}
            .col-s-8 {width: 66.66%;}
            .col-s-9 {width: 75%;}
            .col-s-10 {width: 83.33%;}
            .col-s-11 {width: 91.66%;}
            .col-s-12 {width: 100%;}
    
            #card #card-admin{
                width: 50%;
            }
            #card-admin img a{
                width: 100%;
               
            }
            #card-admin h5 p{
                width: 50%;
                font-size: 16px;
            }
    
            }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    }