@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/* nailer */
#nailer_profile{
    padding-top: 10px;
}
#nailer_profile img {
    width: 30%; 
    border-top-right-radius: 0; 
    border-bottom-left-radius: calc(0.25rem - 1px);
}
#nailer_profile .card{
    flex-direction: row; 
    align-items: center; 
    width: 100%; 
    padding:30px; 
    background-color:white;
}
#nailer_data {
    margin-left:30px;
    
}
#nailer_data label{
    float:right; 
    font-size:18px;
}

#nailer_header h2{
    text-align:center; 
    color:#C60000; 
    font-size:25px;
}
#header_nailer{
    padding-top: 130px;
}
#header_nailer h2{
    text-align:center; 
    color:#C60000; 
    font-size:25px;
}
.dropdown_leave{
    width: 15em;
    height: 2.2em;
    border-radius: 4px;
}
#nailer_data textarea{
    border-radius: 4px;
}
#nailer_nameleave{
    width: 15em;
}
.success-con{
    color: green;
}
.success-wait i{
    color: #FF9900;
}
.success-fail i{
    color: #990000;
}
#profile_nailer{
    margin-left: 2px;
}
#profile_nailer textarea{
    border-radius: 10px;
}
#index_nailer .card {
    border-radius: 15px;
}

/* btn */
.btn-review a{
    margin-top: -10px;
    float: right;
    color: #990000;
    text-decoration: none;
    float: right;
}
.btn-review a:hover{
    color: #990000;
    text-decoration: none;
}
.btn-profile a{
    margin-top: -10px;
   
    color: #990000;
    text-decoration: none;
}
.btn-profile a:hover{
    color: #990000;
    text-decoration: none;
}
#btn_nailer ul li{
    list-style-type: none;
    display:inline;
}
  
#btn_nailer  li a {
    display:inline;
    color: #8B2500;
    padding: 8px 16px;
    width: 300px;
    text-decoration: none;
    background-color: white;
    border: 2px solid #FFAEB9;
    border-radius: 25px;
    
} 
#btn_nailer li a.active {
    background-color: #FFAEB9;
    color: #8B2500;
}
  
#btn_nailer li a:hover:not(.active) {
    background-color: #FFAEB9;
    color: #8B2500;
}
#btn-choose-nailer p{
    font-size: 24px;
}

/* star level */
/* .rating {
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
 } */
 
 .rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #ebebeb8e;
    pointer-events: none;
 }
 
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 }

 /* img port */
.card{
    display: inline;    
}
 .card-body{
    display: inline;
    /* padding: -15px;
    padding-left: -15px; */
}
.card-body img{
    width: 25%;
}

/* review */
#card-review img{
    width: 80px;
    border-radius: 5px;
}
#card-review .card-body {
    padding-top: -20px;
}
#card-review .card-body table{
    color: black;
}


/* choose */
#choose-nailer{
    margin: auto;
    display: block;
}
.btn-date{
    color: white;
    background-color: #8B2500;
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin: auto;
    display: block;
    transition: 400ms;
}

#choose-date .col-md-4 img{
    width: 90%;
    margin: auto;
    display: block;
}
#choose-date .col-4 .card-text{
    font-size: 24px;
}
#choose-date .date{
    display: none;
}
#choose-date .card-text .name{
    font-size: 24px;
}
.checkbox-nailer{
    float: left;
}


 